<div>
  <% event_notices.each do |notice| %>
    <div class="border-bottom mb-2">
      <% if notice.action == "comment" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.visiter.name, user_path(notice.visiter) %>さんが<%= link_to notice.event.name, event_path(notice.event) %>にコメントしました。</p>
      <% elsif notice.action == "follow" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.visiter.name, user_path(notice.visiter) %>さんからフォローされました。</p>
      <% elsif notice.action == "join" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.visiter.name, user_path(notice.visiter) %>さんが<%= link_to notice.event.name, event_path(notice.event) %>に参加しました。</p>
      <% elsif notice.action == "chat" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.visiter.name, user_path(notice.visiter) %>さんからメッセージが届いています。</p>
      <% end %>
    </div>
  <% end %>
</div>