<div>
  <% group_notices.each do |notice| %>
    <div class="border-bottom mb-2">
      <%= link_to user_path(notice.visiter) do %>
        <%= attachment_image_tag notice.visiter, :user_image, :fill,100,100, format: "jpeg", fallback: "no-image.jpg", size: "50x50", class:"profile-img-circle" %>
      <% end %>
      <% if notice.action == "comment" %>
        <p><%= link_to notice.visiter.name, user_path(notice.visiter) %>さんが<%= link_to notice.group.name, group_path(notice.group) %>にコメントしました。</p>
      <% elsif notice.action == "apply" %>
        <p><%= link_to notice.visiter.name, user_path(notice.visiter) %>さんから、<%= link_to notice.group.name, group_path(notice.group) %>への参加申請がありました。</p>
      <% end %>
    </div>
  <% end %>
</div>