<div>
  <% group_notices.each do |notice| %>
    <div class="border-bottom mb-2">
      <% if notice.action == "comment" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.visiter.name, user_path(notice.visiter) %>さんが<%= link_to notice.group.name, group_path(notice.group) %>にコメントしました。</p>
      <% elsif notice.action == "apply" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.visiter.name, user_path(notice.visiter) %>さんから、<%= link_to notice.group.name, group_path(notice.group) %>への参加申請がありました。</p>
      <% elsif notice.action == "approval" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.group.name, group_path(notice.group) %>への参加申請が許可されました。</p>
      <% elsif notice.action == "news" %>
        <p><i class="fas fa-exclamation-circle"></i> <%= link_to notice.group.name, group_path(notice.group) %>にお知らせが投稿されました。</p>
      <% end %>
    </div>
  <% end %>
</div>