<section id="group" class="bg-light">
  <%= render 'layouts/error', model: @group_new %>
  <div class="container">
    <div class ="row">
      <%= form_with url: group_group_news_index_path, model: @group_new, local:true do |f| %>
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :本文 %>
          <%= f.text_field :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</section>