<section id="group" class="bg-light">
  <%= render 'layouts/error', model: @group %>
  <div class="container">
    <div class ="row justify-content-center">
      <h1 class="col-12 text-center mt-3">新規グループ作成</h1>
      <div class="col-lg-6 col-sm-9">
        <%= form_with model:@group, local:true do |f| %>
          <div class="form-group">
            <%= f.label :name, 'グループ名*' %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, 'グループ概要*' %>
            <%= f.text_area :introduction, rows: 5, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :グループイメージ %>
            <%= f.attachment_field :group_image, class: "form-control-file event_image" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>