<div class="container">
  <div class='row'>
    <%= render 'user_info',user: @user %>

    <div class='col-9 mt-2'>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#tab1" class="nav-link active" data-toggle="tab">イベント</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link" data-toggle="tab">グループ</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane active">
          <h2 class="mt-2">参加予定のイベント一覧</h2>
          <div class="col-12 mt-2">
            <%= render 'events/index',events: @before_join_events %>
          </div>
          <h2 class="mt-2">ブックマークしたイベント一覧</h2>
          <div class="col-12 mt-2">
            <%= render 'events/index',events: @bookmark_events %>
          </div>
          <h2 class="mt-2">過去に参加したイベント一覧</h2>
          <div class="col-12 mt-2">
            <%= render 'events/index',events: @after_join_events %>
          </div>
        </div>
        <div id="tab2" class="tab-pane">
          <h2>所属しているグループ一覧</h2>
          <div class="col-12 mt-2">
            <%= render 'groups/index',groups: @join_groups %>
          </div>
          <h2>参加申請中のグループ一覧</h2>
          <div class="col-12 mt-2">
            <%= render 'groups/index',groups: @apply_groups %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
