<section id="event" class="bg-light">
  <div class="container">
    <div class='row'>
      <%= render 'users/user_info',user: @user %>
      <div class='col-9 mt-3'>
        <div class="input-group form-inline">
          <h2 class="col-8">イベント一覧</h2>
          <%= form_with url:searches_event_path, method: :get, local: true do |f| %>
            <%= f.text_field "search[value]", placeholder: "イベント検索", class:"border-bottom form-control d-inline" %>
            <%= f.submit "検索", class:"btn btn-outline-secondary border-0 d-inline" %>
          <% end %>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
              <a href="#tab1" class="nav-link active" data-toggle="tab">カレンダー</a>
          </li>
          <li class="nav-item">
              <a href="#tab2" class="nav-link" data-toggle="tab">一覧</a>
          </li>
          <li class="nav-item">
              <a href="#tab3" class="nav-link" data-toggle="tab">ジャンル</a>
          </li>
          <li class="nav-item">
              <a href="#tab4" class="nav-link" data-toggle="tab">タグ</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <%= render 'events/calender',events: @calender_events %>
          <div id="tab2" class="tab-pane">
            <div class="col-12 mt-2">
              <%= render 'events/index',events: @events %>
            </div>
          </div>
          <div id="tab3" class="tab-pane">
            <div class="col-12 mt-2">
              <%= render 'genres/index',genres: @genres %>
            </div>
          </div>
          <div id="tab4" class="tab-pane">
            <div class="col-12 mt-2">
              <%= render 'tags/index',tags: @tags %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>