<section id="event" class="bg-light">
  <%= render 'layouts/error', model: @event %>
  <div class="container">
    <div class ="row justify-content-center">
      <h1 class="col-12 text-center mt-3">新規イベント作成</h1>
      <div class="col-lg-6 col-sm-9">
        <%= form_with model:@event, local:true do |f| %>
          <div class="form-group">
            <%= f.label :name, 'イベント名*' %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, 'イベント概要*' %>
            <%= f.text_area :introduction, rows: 3, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :genre_id, 'ジャンル*' %>
            <%= f.collection_select( :genre_id, Genre.all, :id, :name, {} ,{:class => "form-control"}) %>
          </div>
          <div class="form-group">
            <%= f.label :start_at, '開始日時*' %>
            <%= f.datetime_field :start_at, class: "form-control", value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
          </div>
          <div class="form-group">
            <%= f.label :finish_at, '終了日時*' %>
            <%= f.datetime_field :finish_at, class: "form-control", value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
          </div>
          <div class="form-group">
            <%= f.label :deadline, '参加締切日時*' %>
            <%= f.datetime_field :deadline, class: "form-control", value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
          </div>
          <div class="form-group">
            <%= f.label :capacity, '参加人数定員*' %>
            <%= f.text_field :capacity, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :tool, '使用ツール*（オフラインの場合は開催場所を記載して下さい）' %>
            <%= f.text_field :tool, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :イベントイメージ %>
            <%= f.attachment_field :event_image, class: "form-control-file event_image" %>
          </div>
          <div class="form-group">
            <%= f.label :タグ（半角スペースで区切るで複数のタグを付けることができます。） %>
            <%= f.text_field :tag_name, class: "form-control" %>
          </div>
          <% if @groups %>
            <div class="form-group">
              <%= f.label :グループ（選択すると該当グループメンバーのみが閲覧できます）  %>
              <%= f.collection_select( :group_id, @groups.all, :id, :name, { include_blank: 'グループなし'} ,{:class => "form-control"}) %>
            </div>
          <% end %>
          <div class="form-group text-center">
            <%= f.submit class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>