<div class="container">
  <div class ="row">
    <h2>
      イベント詳細
      <small>
        <% if @event.deadline < Time.now %>
          <i class="fas fa-exclamation-circle"></i>このイベントはすでに参加が締め切られています。
        <% elsif @event.is_valid == false %>
          <i class="fas fa-exclamation-circle"></i>このイベントの開催は中止されています。
        <% elsif @event.users.count == @event.capacity %>
          <i class="fas fa-exclamation-circle"></i>このイベントはすでに定員に達しています。
        <% elsif @event.users.include?(current_user) %>
          <i class="fas fa-exclamation-circle"></i>このイベントに参加予定です。
        <% end %>
      </small>
    </h2>
    <table class="col-10 table table-striped table-condensed">
      <tr>
        <td>
          <%= attachment_image_tag(@event, :event_image, :fill, 50, 50, fallback: "no-image-icon.jpg", size: "100x100", class:"rounded-circle" ) %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>イベント名</td>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <td>開催日時</td>
        <td><%= event_time(@event) %></td>
      </tr>
      <tr>
        <td>参加締め切り日時</td>
        <td><%= @event.deadline.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <tr>
        <td>参加定員</td>
        <td><%= @event.capacity %>(現在<%= @event.users.count %>人が参加中)</td>
      </tr>
      <tr>
        <td>使用ツール</td>
        <td><%= @event.tool %></td>
      </tr>
      <tr>
        <td>イベント主催者</td>
        <td><%= link_to @admin_user.name, user_path(@admin_user) %></td>
      </tr>
    </table>
    <% if @admin_user == current_user %>
      <%= link_to '編集する', edit_event_path, class: 'btn btn-info' %></br>
      <% if @event.is_valid == true %>
        <%= link_to '中止する', cancel_event_path, class: 'btn btn-danger', method: :patch %>
      <% else %>
        <%= link_to '再開する', cancel_event_path, class: 'btn btn-success', method: :patch %>
      <% end %>
    <% else %>
      <% if @event.users.include?(current_user) %>
        <%= link_to '参加を取り消す', event_leave_path(@event), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <% unless @event.deadline < Time.now || @event.is_valid == false || @event.users.count == @event.capacity %>
          <%= link_to '参加する', event_join_path(@event), class: 'btn btn-success'%>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>