<div class="container">
  <div class ="row">
    <h2>
      イベント詳細
      <% if @event.deadline < Time.now %>
        <small>
          このイベントはすでに参加が締め切られています。
        </small>
      <% elsif @event.is_valid == false %>
        <small>
          このイベントの開催は中止されました。
        </small>
      <!--ここに定員オーバー-->
      <% end %>
    </h2>
    <table class="col-10 table table-striped table-condensed">
      <tr>
        <td>
          <%= attachment_image_tag(@event, :event_image, :fill, 50, 50, fallback: "no-image-icon.jpg", size: "100x100", class:"rounded-circle" ) %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>イベント名</td>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <td>開催日時</td>
        <td><%= event_time(@event) %></td>
      </tr>
      <tr>
        <td>参加締め切り日時</td>
        <td><%= @event.deadline.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <tr>
        <td>参加定員</td>
        <!--現在の参加人数を表示できるようにすること-->
        <td><%= @event.capacity %></td>
      </tr>
      <tr>
        <td>使用ツール</td>
        <td><%= @event.tool %></td>
      </tr>
      <tr>
        <td>イベント主催者</td>
        <td><%= @admin_user %></td>
      </tr>
    </table>
  </div>
</div>