<!DOCTYPE html>
<html>
  <head>
    <title>DialogosCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(homes_about_path) %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= render 'layouts/flash'%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
